[Desktop Entry]
Name=Arco Notifier Settings
Name[da]=Arco-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur Arco
Name[hu]=Arco Értesítő beállítások
Name[pl]=Ustawienia powiadomień Arco
Name[sk]=Nastavenia oznámení systému Arco

Comment=Graphical Settings for Arco Notifier
Comment[da]=Grafiske indstillinger til Arco-notifikator
Comment[de]=Grafische Einstellungsverwaltung für Arco
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Arco
Comment[hu]=A Arco Notifier értesítéseinek beállítása
Comment[pl]=Graficzne ustawienia powiadomień systemu Arco
Comment[sk]=Grafické nastavenia oznámení pre systém Arco

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
